*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.btn {
  display: inline-block;
  padding: 0.4em 2em;
  color: inherit;
  cursor: poiner;
}

.btn--primary {
  border: 1px solid #f1f1f1;
  background-color: transparent;
  color: #f1f1f1;
}

.btn--primary:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(255, 254, 254, 0.7);
}

.btn--main {
  border: 1px solid #ad7280;
  background-color: #02160f;
  padding: 0.6em 3em;
}

.btn--main:hover {
  background-color: #ad7280;
  color: #02160f;
}

.btn--secondary {
  border: 1px solid #855661;
  padding: 0.1em 1em;
}

.btn--secondary:hover {
  background-color: rgba(133, 86, 97, 0.2);
}

.btn--send {
  color: #f1f1f1;
  background-color: #6d444e;
  border: none;
  padding: 0.7em 0;
  font-weight: 700;
}

.btn--send:hover {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.form {
  display: -ms-grid;
  display: grid;
  margin: 2em auto 3em;
}

.form input,
.form textarea {
  color: #411821;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.5em 1em;
  margin: 0.3em 0;
  background: #f1f1f1;
  border: none;
}

.form textarea {
  resize: none;
  margin-bottom: 1em;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  list-style-type: none;
  padding-left: 0;
}

.nav__link {
  padding: 0.5em 0.8em;
  text-transform: uppercase;
  position: relative;
}

.nav__link::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 60px;
  background-color: #6d444e;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  top: 0;
  opacity: 0;
}

.nav__link:hover {
  color: #411821;
}

.nav__link:hover::after {
  opacity: 1;
  -webkit-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out;
}

body > * {
  margin-bottom: 1.5em;
}

.hero {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 19, 2, 0.4)), color-stop(90%, rgba(0, 0, 0, 0.5))), url(/img/hero-img.jpg) center/cover no-repeat #02160f;
  background: linear-gradient(rgba(0, 19, 2, 0.4) 0%, rgba(0, 0, 0, 0.5) 90%), url(/img/hero-img.jpg) center/cover no-repeat #02160f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70vh;
}

.hero h2 {
  margin-bottom: 2em;
}

.products {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.products > * {
  height: 40vh;
  padding-top: 1.5em;
  margin-bottom: 1.5em;
}

.products__item {
  grid-column: 1/-1;
}

.products__item > :not(:last-child) {
  margin-bottom: 1em;
}

.products__item--one {
  background: url(/img/cactus-two.jpg) center/cover no-repeat #6d444e;
}

.products__item--two {
  background: url(/img/plant.jpg) center 30%/cover no-repeat #6d444e;
}

.products__item--three {
  background: url(/img/succulent.jpg) center 50%/cover no-repeat #6d444e;
}

.main {
  display: -ms-grid;
  display: grid;
  grid-template: "text" -webkit-min-content "img-big" 4fr "promo" 2fr / 1fr;
  grid-template: "text" min-content "img-big" 4fr "promo" 2fr / 1fr;
}

.main img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.main__info {
  grid-area: text;
  text-align: left;
}

.main__info > :not(:first-child) {
  margin-bottom: 1.5em;
}

.main__image--one {
  display: none;
}

.main__image--two {
  display: none;
}

.main__image--three {
  grid-area: img-big;
}

.main__promo {
  grid-area: promo;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #02160f;
  padding: 1em;
}

.main__promo > :not(:last-child) {
  margin-bottom: 1em;
}

.contacts {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  background-color: #02160f;
  color: #ad7280;
  padding: 3em 2em 5em;
  font-size: 0.85rem;
  text-align: left;
}

.contacts > * {
  margin-bottom: 2em;
}

.contacts__hours > :last-child {
  margin-bottom: 1em;
}

.contacts__subscribe input {
  background-color: rgba(50, 161, 122, 0.151);
  color: #ad7280;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.5em 1em;
  margin: 0.3em 0;
  border: none;
}

.contacts__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 3em;
  list-style-type: none;
  padding-left: 0;
}

.contacts__social-list > :not(:last-child) {
  margin-right: 1em;
}

.contacts__social-list > :not(:last-child) :hover {
  opacity: 0.5;
}

footer {
  font-size: 0.8rem;
  margin: auto;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1rem;
  color: #855661;
  line-height: 1.6;
  padding: 0 1em;
  background-color: #dbd8d8;
  text-align: center;
}

img {
  max-width: 100%;
  display: block;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

.text--logo {
  font-size: 1.5rem;
  color: #f1f1f1;
}

.text--page-title {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 3.5rem;
  color: #f1f1f1;
}

.text--page-subtitle {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 1.9px;
  color: #f1f1f1;
}

.text--title {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 1.9px;
  color: #855661;
}

.text--promo {
  text-transform: uppercase;
}

.text--underlined::after {
  content: "";
  display: block;
  background-color: #6d444e;
  margin: 0 auto;
  height: 2px;
  width: 10px;
}

.text--small {
  font-size: 3rem;
}

.text--extra {
  font-weight: 700;
}

@media (min-width: 650px) {
  .text--logo {
    font-size: 2.5rem;
  }
  .text--page-title {
    font-size: 5rem;
  }
  .text--title {
    font-size: 1.5rem;
  }
  .form--main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (min-content)[4];
        grid-template-rows: repeat(4, -webkit-min-content);
        grid-template-rows: repeat(4, min-content);
        grid-template-areas: "fname email ." "subject subject ." "message message ." "btn-form btn-form .";
    grid-gap: 0.5em;
  }
  .form__fname {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: fname;
  }
  .form__email {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: email;
  }
  .form__subject {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: subject;
  }
  .form .btn--send {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: btn-form;
  }
  .form textarea {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: message;
  }
  .nav__link {
    padding: 0.5em 1.5em;
  }
  .products {
    -ms-grid-columns: (minmax(200px, 1fr))[3];
        grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-column-gap: 1em;
  }
  .products > * {
    grid-column: span 1;
    margin-bottom: 0;
  }
  .main {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: 250px 250px 400px;
        grid-template-rows: 250px 250px 400px;
        grid-template-areas: "text text  img-sm-two img-sm-two" "text text img-sm-two img-sm-two" "img-big img-big promo promo";
  }
  .main__info {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: text;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    padding: 2em;
    background-color: #f1f1f1;
  }
  .main__image {
    max-height: 70vh;
  }
  .main__image--one {
    display: none;
    grid-area: img-sm-one;
  }
  .main__image--two {
    display: block;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-area: img-sm-two;
  }
  .main__image--three {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: img-big;
  }
  .main__promo {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-area: promo;
  }
  .contact-form {
    background: url(/img/bg-contact-two.jpg) center/cover no-repeat transparent;
    padding: 2em;
  }
  .contacts {
    -ms-grid-columns: (minmax(200px, 1fr))[3];
        grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-column-gap: 1em;
  }
  .contacts > * {
    grid-column: span 1;
  }
  .contacts__subscribe {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/span 2;
    display: -ms-grid;
    display: grid;
  }
  .contacts__social-list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin-top: 2em;
  }
}

@media (min-width: 1000px) {
  .text--promo {
    font-size: 2.5rem;
  }
  .nav__link {
    font-size: 1.25rem;
  }
  .main {
    -ms-grid-columns: (auto)[4];
        grid-template-columns: repeat(4, auto);
    -ms-grid-rows: (auto)[2];
        grid-template-rows: repeat(2, auto);
        grid-template-areas: "text text  img-sm-two img-sm-one" "img-big img-big promo promo";
  }
  .main__image--one {
    display: block;
    -ms-grid-row: 1;
    -ms-grid-column: 4;
    grid-area: img-sm-one;
  }
  .contacts {
    padding: 3em 7em 7em;
  }
}
